{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Submit Review</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body>
        <header>
            <h3>Submit Your Review Below</h3>
            <p>
                <a href="{% url "reviews_list" %}">Back to list</a>
            </p>
        </header>
        <main>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                 <div>
                    <button>Submit</button>
                  </div>
                </form>
              </div>
            </main>
            <footer>
              <div>
                Copyright 2022 by me
              </div>
              <p>
                This is my site that contains all of my book reviews
                that you can read to see if you'd like that book.
              </p>
            </footer>
          </body>
        </html>