{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Beutiful Ruins Review
        </title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body>
        <header>

        </header>
        <body>
            <div class="book-1">
                <img class="book-cover" src="{{ review.cover_image }}">
                    <h2>
                        <a href="detail.html">{{ review.title }}</a>
                        
                    </h2>
                    <h3>{{ review.rating }} Stars</h3>
                    <p>{{ review.authors }}</p>
                    <h3>Summary</h3>
                    <p>
                        {{ review.summary }}
                    </p>
                    <h2>My review</h2>
                        <p>
                            {{ review.review }}
                        </p>
                </div>
        </body>
        <footer>
            <p>Copyright 2022 by Gregory Robertson</p>
            <p>These are personal reviews only</p>
        </footer>
    </body>
</html>