{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>My Reviews</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "create_review" %}">Create a review</a>
            </nav>
        </header>
        <main>
            {% for review in reviews %}
                <div class="main-page-book-review">
                <img class="book-cover" src="{{ review.cover_image }}">
                    <h2>
                        <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
                    </h2>
                    <h3>{{ review.rating }} Stars</h3>
                    <p>{{ review.authors }}</p>
                    <h3>Summary</h3>
                    <p>
                        {{ review.summary }}
                    </p>
                </div>
            {% endfor %}    
        </main>
        <footer>
            <p>Copyright 2022 by Gregory Robertson</p>
            <p>These are personal reviews only</p>
        </footer>
    </body>
</html>